.Rproj.user/*
*.csv
.Rhistory
*.dcf
*.rds
*.Rproj
*.xlsx
*.md
/*.png
COG-UK/www/image1.jpg
COG-UK/www/COG-ME.png
COG-UK/www/COG-ME original.png
COG-UK/www/d.png
cog.deletions.tsv
*.pdf
COG-UK/heatmap.png
.Rproj.user
*.numbers
mutations.nb.html
dasboard.html
API/plumber.R
!VUI and VOC.csv
mutations.R
*.zip
6_seqmuts_ale.txt
NUTS_Level_1_(January_2018)_Boundaries/
cog.insertions.tsv
isaric_*_cumulative.tsv
isaric_*_latest.tsv
NUTS_Level_1_(January_2018)_Boundaries.*json
*.gz
Ronapreve*.png
*.history
!deletion_mapping.csv
!insertion_mapping.csv
.DS_Store
*.gff3
*.tbi
*.fai
