.cell-container {
  display: grid; 
  height: 50vh; 
  grid-auto-rows: 1fr;
  gap: 3px;
}

.cell-row, .nested-row{
  padding: 1em;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nested-container {
  display: grid; 
  grid-auto-rows: 1fr;
}

.footer-logo {
  max-height: 71px;
}

#table_4 a {
  color: inherit;
  text-decoration: underline;
}

#table_4 :is(a:active, a:focus, a:hover){
 text-decoration:none;
}